# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[/]
# tools.secureheaders.on = True
tools.sessions.on = True
# increase security on sessions
tools.sessions.secure = True
tools.sessions.httponly = True
tools.encode.on: True,
tools.encode.encoding: 'utf-8'
tools.response_headers.on = True

# tools.auth_basic.on: True,
# tools.auth_basic.realm: 'localhost',
# tools.auth_basic.checkpassword: get_tokens


[/static]
# use env OSMRO_STATIC_ON, OSMRO_STATIC_DIR to override
tools.staticdir.on: True
tools.staticdir.dir: "/app/RO/RO-NG/osm_ng_ro/html_public"


[global]
# use env OSMRO_SERVER_XXX, OSMRO_LOG_XXX, OSMRO_TEST_XXX or OSMRO_AUTH_XXX to override. Use value in yaml format
server.socket_host: "0.0.0.0"
server.socket_port: 9090

# server.ssl_module: "builtin"
# server.ssl_certificate: "./http/cert.pem"
# server.ssl_private_key: "./http/privkey.pem"
# server.ssl_pass_phrase: "osm4u"
server.thread_pool: 10
server.ns_threads: 10

# Uncomment for allow basic authentication apart from bearer
# auth.allow_basic_authentication: True

# comment or set to False to disable /test URL
server.enable_test: True

log.screen: False
log.access_file: ""
log.error_file: ""

log.level: "DEBUG"
#log.file: /var/log/osm/ro.log


[database]
# use env OSMRO_DATABASE_XXX to override
driver: "mongo"            # mongo or memory
uri:    "mongodb://mongo:27017"
name: "osm"
# user: "user"
# password: "password"
# commonkey: "commonkey"

[storage]
# use env OSMRO_STORAGE_XXX to override
driver: None  # "local"            # local filesystem
# for local provide file path
path: "/app/storage"       #"/home/atierno/OSM/osm/NBI/local/storage"

loglevel:  "DEBUG"
#logfile: /var/log/osm/ro-storage.log

[message]
# use env OSMRO_MESSAGE_XXX to override
driver: "kafka"             # local or kafka
# for local provide file path
path: "/app/storage/kafka"
host: "kafka"
port: 9092

loglevel:  "DEBUG"
#logfile: /var/log/osm/ro-message.log
group_id: "ro-server"

[authentication]
# use env OSMRO_AUTHENTICATION_XXX to override

